<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h1 class="navbar-brand">To do list</h1>
  </div>
</nav>
<section>
  <header class="border-bot">
    <h4>Hoje</h4>
    <p>{{ todayDate | date:'dd/MM/YY' }}</p>
    <button (click)="renderCalendar()">
      <mat-icon svgIcon="calendar_today"></mat-icon>
    </button>
    <div *ngIf="renderCal">
      <app-calendar (dateEvent)="dateFromCalendar($event)" [tasks]="taskToMark"></app-calendar>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="resetForm()"
    >
      Novo
    </button>
  </header>


  <div *ngIf="tasks.length; else noTasks">
    <div class="card" *ngFor="let task of tasks">
      <div class="card-header">
        <h2 >{{ task.title }}</h2>
        <div class="status-box">
          <label for="status">{{task.status == true ? 'Feito' : 'Não Feito'}}</label> <br>
          <input type="checkbox" id="status" class="{{task.status == true ? 'done-task' : 'undone-task'}}" (click)="statusTask(task)" [(ngModel)]="task.status">
        </div>
      </div>
      <div class="dates">
        <div class="date_init" *ngIf="task.date">
          <h6>Data: </h6>
          <span >{{ task.date | date:'dd/LL/YY'}}</span>
        </div>
      </div>
      <div class="card-body">
        <div *ngIf="task.description">
          <h6>Descrição: </h6>
          <p class="card-text">{{ task.description }}</p>
        </div>

        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="onEdit(task.id)"
        >
          Editar
        </button>
        <button class="btn btn-danger" (click)="onDelete(task.id)">
          Deletar
        </button>
      </div>
    </div>
  </div>
</section>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova mensagem</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="mb-3">
            <label for="title" class="col-form-label">Título</label>
            <input
              type="text"
              class="form-control"
              id="title"
              formControlName="title"
            />
          </div>
          <div class="mb-3">
            <label for="date" class="col-form-label">Data</label>
            <app-data-picker id="date" (eventDate)="dateFromPicker($event)"></app-data-picker>
          </div>
          <div class="sm-2">
            <label for="status" class="col-form-label">Status da Task</label>
            <input type="checkbox" id="status" class="status-checkbox"
            formControlName="status">
          </div>
          <div class="mb-3">
            <label for="description" class="col-form-label">Descrição</label>
            <textarea
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Send message
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #noTasks>
  <p>Não tem tarefas</p>
</ng-template>

<section >
  <app-lates-tasks ></app-lates-tasks>
</section>





