.task{
    padding: 10px;

    .title{
        float: left;
        width: 90px;
    }
    .remove{
        padding-left: 95px;
    }
}
.card {
    margin: 10px;
}
section {
  width: 500px;
  margin: auto;
}

.navbars {
  display: flex;
  background-color: grey;
  width: auto;
  justify-content: space-between;
  padding: 0.5rem;
}
